   /* Modal Structure */

    html,
    body {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      margin: 0;
      min-height: 180px;
      padding: 0;
      width: 384px;
    }
	.btn {
	
    background-color: white; /* Blue background */
    border: none; /* Remove borders */
    color: #383837; /* White text */
    padding: 5% 10% ; /* Some padding */
    font-size: 26px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    opacity: 0.4;
}

    h1 {
      font-family: 'Menlo', monospace;
      font-size: 22px;
      font-weight: 400;
      margin: 0;
      color: #86af49;
    }

    a:link,
    a:visited {
      color: #000000;
      outline: 0;
      text-decoration: none;
    }

    img {
      width: 30px;
    }

    .modal-header {
      align-items: center;
      border-bottom: 0.5px solid #dadada;
    }

    .modal-content {
      padding: 0 22px;
    }

    .modal-icons {
      border-top: 0.5px solid #dadada;
      height: 50px;
      width: 100%;
    }


    .logo {
		font-size: 25px;
      padding: 16px;
    }

    .logo-icon {
		width: 27px;
		padding-bottom: 1px;
      vertical-align: text-bottom;
      margin-right: 12px;
    }

    .version {
	
      color: #444;
      font-size: 10px;
    }

    .flex-container {
      display: flex;
      justify-content: space-between;
      padding: 10px 22px;
    }

    .flex {
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
      width: 120px;
    }

    .flex:hover {
      opacity: 0.4;
    }

    .flex .fa {
		padding-left: 25%;
      font-size: 30px;
      color: #86af49;
    }